# 设置 Electron 二进制文件下载镜像
# 提示证书出错，也可以使用更换镜像的方式解决
electron_mirror=https://npmmirror.com/mirrors/electron/

# 如果你使用 electron-builder 打包，建议同时设置 builder 的镜像
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
